
/* Base Element Styles */

* {
    box-sizing: border-box;
}

body {
    background:  #fff4e6;
    font-family: "Baloo Bhai", cursive;
}

h1,
h2,
h3 {
    font-family: "Baloo Bhai", cursive;
    color: #404040;
}
p {
    font-family: 'Roboto', sans-serif;
    color:  #666666;
}
a {
    text-decoration: none;
    color:  #404040;
}
img {
    max-width: 100%;
}
footer {
    padding: 0 10px;
}
/* Navigation Styles */

.bio {
    padding-top: 20px;
}
.header-content {
    text-align: center;
    margin: 20px;
}
.main-nav {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}
/* Layout Containers */

.main-content {
    margin: 0 auto;
    width: 90%;
}

.portfolio,
.contact,
.bio {
    text-align: center;
}

.contact-info {
    font-family: 'Roboto', sans-serif;
    color: #a6a6a6;
}
.non-mobile-display {
    display: none;
}
.footer-name {
    float: left;
}
.footer-nav {
    float: right;
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}