
/* Base Element Styles */

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3 {
    font-family: "Baloo Bhai", cursive;
    color: #404040;
}
p {
    font-family: 'Roboto', sans-serif;
    color:  #666666;
}
a {
    text-decoration: none;
    color:  #404040;
}
img {
    max-width: 100%;
}
header {
    background: lightblue;
}
/* Navigation Styles */

.name {
    border: 1px red solid;
}
.bio {
    padding-top: 20px;
    border: 1px red solid;
}
.header-content {
    text-align: center;
}
.main-nav {
    border: 1px red solid;
    padding-left: 0;
    margin-top: 0;
}
/* Layout Containers */

.main-content {
    margin: 0 auto;
    width: 90%;
}

.portfolio,
.contact,
.bio {
    text-align: center;
}


.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.contact-info {
    color: #a6a6a6;
}
